<section class="panel panel-padding">

  <p>Service to contact</p>
  <select class="input-services-selector">
      <option value="direction">Direction</option>
      <option value="conciergerie">Conciergerie</option>
      <option value="billing">Billing</option>
  </select><br>
  <p>Type your request</p>
  <textarea class="input-services" rows="15"></textarea>
  <button type="button" class="btn btn-default button-on-right button-contact-form" ng-click="processServiceprivateRequest()">Send</button> 
<!--       <div id="form_contact_confirm" style="display:none">
        <legend>Contact</legend>
        <p>Your message has been sent, we will contact you back as soon as possible!</p>
        <p>Back</p>
      </div> -->


</section>