<section class="panel panel-padding">
  <p>My Recipes</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="10%">Type</th>
        <th width="40%">Name</th>
        <th width="50%">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="10%">Spanish</td>
        <td width="40%">Paella</td>
        <td width="50%"><div class="star-rating"> 
  <span class="glyphicon glyphicon-star-empty" data-rating="1"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="2"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="3"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="4"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="5"></span>
  <input type="hidden" name="whatever" class="rating-value" value="3">
</div></td>
      </tr>
      <tr>
        <td width="10%">Asian</td>
        <td width="40%">Spring rolls</td>
        <td width="50%"><div class="star-rating"> 
  <span class="glyphicon glyphicon-star-empty" data-rating="1"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="2"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="3"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="4"></span>
  <span class="glyphicon glyphicon-star-empty" data-rating="5"></span>
  <input type="hidden" name="whatever" class="rating-value" value="3">
</div></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-default button-on-right">Add a recipe</button>

</section>