<section class="panel panel-padding" ng-controller="OneRecipesCtrl">
  <div id="main" class="paper large">
    <div class="image-wrapper">
          <div class="image" style="background-image:url('http://fastly-static.yummly.com/yummly-website/205f7a42372d4b54429895f4e141a7a9ecf9bcad/img/recipe-page-gradient.png'),url('./data/recipes_images/2.jpg');">
            <img itemprop="image" src="./data/recipes_images/2.jpg" height="487" width="730" alt="Walnut Maple Pie">
            <div class="primary">
              <h1 itemprop="name" title="Walnut Maple Pie">Walnut Maple Pie</h1>
            </div>
          </div>
        </div>

        <div class="secondary">
          <div class="modifiers-wrapper">
            <div class="modifiers flex-box">
              <ul class="recipe-data">
                <li>
                  <span class="hd">Ingredients</span>
                  <span class="bd">11</span>
                  <span class="ft">Count</span>
                </li>
                <li>
                  <span class="hd">Nutrition</span>
                  <span class="bd">500</span>
                  <span class="ft">Calories</span>
                </li>
                <li>
                  <span class="hd">Directions</span>
                  <span class="bd">90</span>
                  <span class="ft">Minutes</span>
                </li>
              </ul>
              <!-- <div class="mobile-actions">
                <div class="social social-share">
                  <a href="//www.facebook.com/sharer/sharer.php?u=http://www.yummly.com/recipe/Walnut-Maple-Pie-Simply-Recipes-200626" target="_blank" data-width="500" data-height="500" data-popup=""><span class="y-icon">"</span></a>
                  <a href="//twitter.com/intent/tweet?source=webclient&amp;text=http://www.yummly.com/recipe/Walnut-Maple-Pie-Simply-Recipes-200626%20via @Yummly" target="_blank" data-width="550" data-height="260" data-popup=""><span class="y-icon">!</span></a>
                  <a href="//plus.google.com/share?url=http://www.yummly.com/recipe/Walnut-Maple-Pie-Simply-Recipes-200626" target="_blank" data-width="500" data-height="460" data-popup=""><span class="y-icon">6</span><sup><span class="y-icon">(</span></sup></a>
                  <a href="//pinterest.com/pin/create/link/?url=http://www.yummly.com/recipe/Walnut-Maple-Pie-Simply-Recipes-200626&amp;media=http%3A%2F%2Fstatic%2Flogo-opengraph-200x200.png" target="_blank" data-action="pinmarklet"><span class="y-icon">,</span></a>
                  <a class="share-mail" href="javascript:void(0);"><span class="y-icon">$</span></a>
                </div>
              </div> -->
            </div>
          </div>

          <div class="yummly-recipe-description flex-box">
          </div>

          <div class="yummly-recipe-ingredients flex-box">
            <p class="yield visuallyhidden" itemprop="recipeYield">8 servings</p>
                  <form id="servings" novalidate="">
                    <label>servings<input autocapitalize="off" autocorrect="off" type="tel" name="servings" value="8" id="servings-text"></label>
                    <button id="newServings" class="btn-wire" disabled=""><span class="y-icon">)</span></button>
                    <input type="hidden" name="unitType" value="imperial">
                  </form>
            <h3>Ingredients</h3><div class="units">
              <span class="visuallyhidden">imperial units</span>
                  
                        <span class="unit-select">us</span>
                      
                        <a data-mixpanel-event="Units Converted" data-mixpanel-props="%7B%22Recipe%20Source%22%3A%22Simply%20Recipes%22%2C%22Recipe%20ID%22%3A%22Walnut-Maple-Pie-Simply-Recipes-200626%22%2C%22Conversion%20Type%22%3A%22Metric%22%7D" href="/recipe/Walnut-Maple-Pie-Simply-Recipes-200626?unitType=metric" class="unit-toggle mixpanel-track">metric</a>
                      
            </div>
            
            <ul>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">1  </span>
                    <strong class="name">pie shell </strong>
                    <span class="remainder-wrapper">(<span class="remainder">9-inch, frozen for at least 30 minutes, see pie crust recipe</span>) </span>
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">2 cups </span>
                    <strong class="name">chopped walnuts </strong>
                    <span class="remainder-wrapper">(<span class="remainder">roughly</span>) </span>
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">2  </span>
                    <strong class="name">eggs </strong>
                    <span class="remainder-wrapper">(<span class="remainder">beaten</span>) </span>
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">1 cup </span>
                    <strong class="name">maple syrup </strong>
                    <span class="remainder-wrapper">(<span class="remainder">grade B</span>) </span>
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">1 tbsp </span>
                    <strong class="name">dark rum </strong>
                    <span class="remainder-wrapper">(<span class="remainder">optional</span>) </span>
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount"><span class="fraction"><span class="numerator">1</span><span class="fraction-slash">/</span><span class="denominator">2</span></span> tsp </span>
                    <strong class="name">vanilla extract </strong>
                    
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">2 tbsps </span>
                    <strong class="name">melted butter </strong>
                    
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount">2 tbsps </span>
                    <strong class="name">all-purpose flour </strong>
                    
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount"><span class="fraction"><span class="numerator">1</span><span class="fraction-slash">/</span><span class="denominator">4</span></span> tsp </span>
                    <strong class="name">salt </strong>
                    
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount"><span class="fraction"><span class="numerator">1</span><span class="fraction-slash">/</span><span class="denominator">8</span></span> tsp </span>
                    <strong class="name">ground cinnamon </strong>
                    
                </li>
                <li itemprop="ingredients" class="ingredient">
                    <span class="amount"><span class="fraction"><span class="numerator">1</span><span class="fraction-slash">/</span><span class="denominator">8</span></span> tsp </span>
                    <strong class="name">ground nutmeg </strong>
                    
                </li>
            </ul>
          </div>
        </div>

        <div class="tertiary flex-box">
          <div class="yummly-prep-steps">
            <h3>Directions</h3>
            <div class="prep-meta">
              <p><span class="y-icon">B</span><strong>Prep Time</strong><span>10 min</span></p>
              
                <meta itemprop="totalTime" content="PT5400S">
                <p><span class="y-icon">B</span><strong>Total Time</strong><span>1 hr 30 min</span></p>
            </div>
          
          </div>
        </div>

      </div>

</section>