<?xml version='1.0' encoding='utf-8'?>
<widget id="net.satprod.royaltervuren" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RoyalTervuren</name>
    <description>
        Application for the Royal Tervuren in Brussels
    </description>
    <author email="sat@satprod.net" href="http://satprod.net">
        Satprod Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
