<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <title>List it up</title>
    </head>
    <body>
        <header class="header">
        </header>

        <section class="view view-fade angular-animate" ng-view>
        </section>

        <nav class="nav" ng-controller="NavCtrl">
            <a href="#recipes" ng-click="navAction('recipes')"><i class="icon icon-recipes" ng-class="{iconactive: menu=='recipes'}" disableAnimate><p>All recipes</p></i></a>
            <a href="#my-recipes" ng-click="navAction('my-recipes')"><i class="icon icon-my-recipes" ng-class="{iconactive: menu=='my-recipes'}" disableAnimate><p>My recipes</p></i></a>
        </nav>

        <script type="text/javascript" src="jembe.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller/OneRecipesCtrl.js"></script>
        <script src="js/controller/FiltersCtrl.js"></script>
        <script src="js/controller/NavCtrl.js"></script>
        <script src="js/controller/RecipesCtrl.js"></script>
    </body>
</html>
